{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="bgded overlay" style="background-image:url({% static 'images/demo/backgrounds/01.jpg'%});">
        <section id="pageintro" class="hoc clear">
            <div>
                <h2 class="heading">Wind Turbine Model</h2>
                <footer><a class="btn" href="#">Predict</a></footer>
            </div>
        </section>
    </div>
    <div class="wrapper row2">
        <section class="hoc container clear">
            <div class="sectiontitle" style="text-align: center; padding: 10px 0;">
                <h6 class="heading">About Us</h6>
                <p>Welcome to our site, dedicated to pioneering the future of renewable energy through the development of advanced machine learning (ML) models for wind turbines. At the forefront of innovation, our team is committed to enhancing the efficiency and reliability of wind energy systems, ensuring a sustainable and green future for all.</p>
            </div>
            <div class="nospace group services" style="text-align: center;">
                <div class="one_quarter first" style="display: inline-block; width: 45%; margin: 5px;">
                    <h6 class="heading font-x1"><a href="#">Who We Are</a></h6>
                    <p>We are a group of passionate engineers, data scientists, and renewable energy enthusiasts. Our diverse team brings together expertise from various fields, including mechanical engineering, data analytics, and computer science.</p>
                </div>
                <div class="one_quarter" style="display: inline-block; width: 45%; margin: 5px;">
                    <h6 class="heading font-x1"><a href="#">Our Mission</a></h6>
                    <p>Our mission is to revolutionize the wind energy sector by leveraging the power of machine learning. We aim to develop state-of-the-art ML models that optimize wind turbine performance, reduce maintenance costs, and maximize energy output.</p>
                </div>
            </div>
            <div class="clear"></div>
        </section>
    </div>
    <div class="wrapper row3">
        <main class="hoc container clear">
            <div class="sectiontitle">
                <h6 class="heading">Project creators</h6>
            </div>
            <div class="group excerpts">
                <article class="one_third first">
                    <div class="hgroup">
                        <h6 class="heading">Syrym A.</h6>
                        <em>Full-Stack Developer</em>
                    </div>
                    <div class="txtwrap">
                        <p>IT-2101, Computer Science, 211153</p>
                    </div>
                    <footer>
                        <ul class="faico clear">
                            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </footer>
                </article>
                <article class="one_third">
                    <div class="hgroup">
                        <h6 class="heading">Dias K.</h6>
                        <em>Full-Stack Developer</em>
                    </div>
                    <div class="txtwrap">
                        <p>IT-2101, Computer Science, 211552</p>
                    </div>
                    <footer>
                        <ul class="faico clear">
                            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </footer>
                </article>
            </div>
            <div class="clear"></div>
        </main>
    </div>
{% endblock %}
