{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bgded overlay" style="background-image:url({% static 'images/demo/backgrounds/02.jpg'%});">
  <section id="pageintro" class="hoc clear" style="padding: 2rem 0;">
    <div>
      <h2 class="heading">Predict model</h2>
    </div>
  </section>
</div>
<div class="wrapper row2">
  <section class="hoc container clear">
    <div class="sectiontitle">
      <h6 class="heading">Input Data</h6>
    </div>
    <form id="predict-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="data-file">Upload CSV File:</label>
        <input type="file" id="data-file" name="data_file" class="form-control" required>
      </div>
      <footer>
        <button type="submit" id="predict-power-btn" class="btn btn-primary">Predict Power Output</button>
      </footer>
    </form>
  </section>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="sectiontitle">
      <h6 class="heading">Prediction Result</h6>
    </div>
    <div id="prediction-results">
      <p id="prediction-value" class="lead">-</p>
    </div>
    <div class="clear"></div>
  </main>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  $(document).ready(function() {
    $('#predict-form').on('submit', function(event) {
      event.preventDefault();

      var formData = new FormData(this);

      $.ajax({
        url: "{% url 'predict' %}",
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          if (response.error) {
            $('#prediction-value').text('Error: ' + response.error);
          } else {
            var predictions = response.predictions;
            var predictionsHtml = predictions.map(function(prediction, index) {
              return '<p>Hour ' + (index + 1) + ': ' + prediction + ' kW</p>';
            }).join('');
            $('#prediction-value').html(predictionsHtml);
          }
        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
          $('#prediction-value').text('Error occurred while predicting.');
        }
      });
    });
  });
</script>
{% endblock %}
