{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bgded overlay" style="background-image:url({% static 'images/demo/backgrounds/02.jpg'%});">
  <section id="pageintro" class="hoc clear" style="padding: 2rem 0;">
    <div>
      <h2 class="heading">Predict model</h2>
    </div>
  </section>
</div>
<div class="wrapper row2">
  <section class="hoc container clear">
    <div class="sectiontitle">
      <h6 class="heading">Input Data</h6>
    </div>
    <div class="form-group">
      <label for="wind-speed">Wind Speed (m/s):</label>
      <input type="number" id="wind-speed" class="form-control">
    </div>
    <div class="form-group">
      <label for="temperature">Temperature (°C):</label>
      <input type="number" id="temperature" class="form-control">
    </div>
    <footer>
      <button id="predict-power-btn" class="btn btn-primary mr-2">Predict Power Output</button>
      <button id="detect-faults-btn" class="btn btn-danger">Detect Faults</button>
    </footer>
  </section>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="sectiontitle">
      <h6 class="heading">Prediction Result</h6>
    </div>
    <div>
      <p id="prediction-value" class="lead">-</p>
    </div>
    <div class="clear"></div>
  </main>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock %}
